---
title: Customizing the Immersion Template Settings
parent: Portal
grandparent: Experiences
description: In this topic you will learn how to customize the settings for the Immersion template.
layout: staging
---
<article class="bcls-article">
  <h1>Customizing the Immersion Template Settings</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <p>When a Portal Experience is created using the Immersion template, several template specific settings can be configured. To configure the settings for the Immersion template, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Edit the experience.</li>
      <li>Click <strong>Appearance and Behavior &gt; Template Settings</strong> in the left navigation.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/immersion/template-settings.png" /></figure>
      </li>
    </ol>
    <p>The following settings can be configured:</p>
    <ul>
      <li><a href="#hero">Hero Slider</a></li>
      <li><a href="#thumbnails">Thumbnails </a></li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="hero">Hero Slider settings</h2>
    <p>The <strong>Hero Slider</strong> settings control the appearance of the hero videos (videos displayed at the top of the page). The <strong>DISPLAY INFORMATION</strong> settings control the video metadata that is displayed on video thumbnails in the hero carousel. The following items can be displayed:</p>
    <ul>
      <li>Title</li>
      <li>Video Duration</li>
      <li>Description</li>
      <li>Related Link</li>
    </ul>
    <p>The <strong>FORMAT</strong> settings control how the video metadata is displayed:</p>
    <ul>
      <li>Overlay the Image</li>
      <li>Information below the image</li>
    </ul>
    It is also possible to enable <strong>Gradient Shadows</strong> which will add a gradient to the hero image (this helps making white text easier to read)</section>
  <section class="bcls-section">
    <h2 id="thumbnails">Thumbnail settings</h2>
    <p>The <strong>DEFAULT DISPLAY INFORMARION</strong> settings controls how video thumbnails below the hero slider appear. The following items can be displayed:</p>
    <ul>
      <li>Title</li>
      <li>Video Duration</li>
    </ul>
    <p>The EXPAND DETAILS ON HOVER settings control how the thumbnail appears when the viewer hovers over a video thumbnail:</p>
    <ul>
      <li>Expand Details Card - Displays a larger video thumbnail on hover, the following fields can also be displayed:
        <ul>
          <li>Description</li>
          <li>Related Link</li>
        </ul>
      </li>
    </ul>
  </section>
</article>
