---
title: Customizing the Chronicle Template Settings
parent: Portal
grandparent: Experiences
description: In this topic you will learn how to customize the settings for the Chronicle template.
---
<article class="bcls-article">
  <h1>Customizing the Chronicle Template Settings</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <p>When a Portal Experience is created using the Chronicle template, several template specific settings can be configured. To configure the settings for the Chronicle template, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Edit the experience.</li>
      <li>Click <strong>Appearance and Behavior &gt; Template Settings</strong> in the left navigation.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/node18318-chronicle-settings.png" /></figure>
      </li>
      <li>Set a value for the <strong>Sequence Label Format</strong>. This value will be displayed next to videos on the site:
        <ul>
          <li><strong>None</strong> - Labels will not display</li>
          <li><strong>Date</strong> - The date the video was added to Video Cloud will be displayed</li>
          <li><strong>Custom Field</strong> - The value for the specified custom field will be displayed</li>
        </ul>
      </li>
    </ol>
    <p>In the following example, the <strong>Date</strong> option was selected and the date the video was uploaded is displayed next to videos.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/node18318-chronicle-date.png" /></figure>
  </section>
</article>
