---
title: Customizing the Immersion Template Settings
parent: Portal
grandparent: Experiences
description: In this topic you will learn how to customize the settings for the Immersion template.
---
<article class="bcls-article">
  <h1>Customizing the Immersion Template Settings</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <p>When a Portal Experience is created using the Immersion template, several template specific settings can be configured. To configure the settings for the Immersion template, follow these steps:</p>
    <ol class="bcls-tasklist-restart">
      <li>Edit the experience.</li>
      <li>Click <strong>Appearance and Behavior &gt; Template Settings</strong> in the left navigation.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/immersion/template-settings.png" /></figure>
      </li>
    </ol>
    <p>The following settings can be configured:</p>
    <ul>
      <li><a href="#hero">Hero Slider</a></li>
      <li><a href="#thumbnails">Thumbnails </a></li>
    </ul>
  </section>
  <section class="bcls-section">
    <h2 id="hero">Hero Slider settings</h2>
    <p>The <strong>Hero Slider</strong> settings control the appearance of the hero videos (videos displayed at the top of the page). The <strong>DISPLAY INFORMATION</strong> settings control the video metadata that is displayed on video thumbnails in the hero carousel. The following items can be displayed:</p>
    <ul>
      <li>Title</li>
      <li>Video Duration</li>
      <li>Description</li>
      <li>Related Link</li>
    </ul>
    <p>The <strong>FORMAT</strong> settings control how the video metadata is displayed:</p>
    <ul>
      <li>Overlay the Image</li>
      <li>Information below the image</li>
    </ul>
    Enabling <strong>Gradient Shadows</strong>  will add a gradient to the hero image (this helps make white text easier to read).</section>
  <section class="bcls-section">
    <h2 id="thumbnails">Thumbnail settings</h2>
    <p>The <strong>DEFAULT DISPLAY INFORMARION</strong> settings controls how video thumbnails below the hero slider appear. The following items can be displayed:</p>
    <ul>
      <li>Title</li>
      <li>Video Duration</li>
    </ul>
    <p>The <strong>EXPAND DETAILS ON HOVER</strong> settings control how the thumbnail appears when the viewer hovers over a video thumbnail:</p>
    <ul>
      <li><strong>Expand Details Card</strong> - Displays a larger video thumbnail on hover, the following fields can also be displayed:
        <ul>
          <li>Description</li>
          <li>Related Link</li>
        </ul>
      </li>
    </ul>
  </section>
  <!-- <section class="bcls-section">
    <h2 id="third-party-tracking-tools">Configuring Third-Party Tracking Tools</h2>
    <p>Now, the Immersion template provides you with better analytics by enabling third-party tracking tools.</p>
    <p>To configure the Third-Party Tracking settings for Immerse template, edit the experience and click <strong>Site Configuration > Third-Party Tracking</strong> in the left navigation. The Immerse template can be integrated with, or use services provided by, other third-party sites:
    </p>
    <ul>
      <li><a href="#google">Google Analytics</a></li>
      <li><a href="#googletag">Google Tag Manager</a></li>
      <li><a href="#eloqua">Eloqua</a></li>
      <li><a href="#marketo">Marketo</a></li>
    </ul>

    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/other/node18672-tracking.png" /></figure>
  </section>
  <section class="bcls-section">
    <h3 id="google">Integrating with Google Analytics</h3>
    <p>Gallery includes the ability to send tracking data to Google Analytics. When you create a new property to track in Google Analytics, Google will provide a Tracking ID and tracking code that must be added to your site. The Tracking ID is used to tell Google Analytics which account and property to send data to and should be entered into the Google Analytics field. The tracking code can be added to your site in one of these ways:</p>
    <ul>
      <li><strong>Custom header/footer HTML</strong> - If you are using <a href="/experiences/portal/customizing/customizing-appearance-and-behavior-portal-experience.html#header_footer">custom header/footer HTML</a> for your site, you can paste the tracking code in as part of the header/footer HTML</li>
      <li><strong>Specify a custom JavaScript file</strong> - Save the tracking code into a .js file hosted on your domain and then point to it using the custom JavaScript property for the site</li>
    </ul>
    <p>By adding the Tracking ID in Site Settings, you get the default "pageview" analytics. Gallery will add the minimum required JavaScript for the same. Adding tracking code as part of a custom header or in a custom JavaScript file allows you to add more specific analytics. For example, you can add custom code for click or other events.</p>
    <p>To learn more about Google Analytics and to create a Tracking ID for your site, visit the <a href="https://www.google.com/analytics/">Google Analytics</a> website.</p>
     UNCOMMENT THE FOLLOWING BY MAY 29  (DON'T FORGET TO UPDATE THE SCREENSHOTS) FOR MORE INFO ON THE STEPS SEE https://docs.google.com/document/d/1YiK8G3QZAdy0s-W29wIl3twFtKxn-oFVW04C_0MbeFA/edit#
     <h3>GA4 migration using Gallery module</h3>
    <p>To ensure that data continues to be collected across Brightcove products with Google Analytics plugins, you must upgrade your Gallery Experiences to use GA4 instead of Universal Analytics.</p>
    <ol class="bcls-tasklist-restart">
      <li>Make sure you are enabled in <strong>GA4</strong> within Google. For more information, see <a href="https://support.google.com/analytics/answer/10089681?hl=en&ref_topic=12154439,12153943,2986333,&sjid=8753575559145992539-NA&visit_id=638200272589180601-256312248&rd=1">How to get started with Google Analytics 4</a>.</li>
      <li>In Studio select the <strong>Gallery</strong> module.</li>
      <li><p>Click the gallery experience to which you wish to update the Google Analytics plugin.</p>
      </li>
      <li>Click <strong>Site Configuration -> Third-Party Tracking</strong>.
      </li>
      <li>Add the <strong>GA4 tag</strong>.
        <figure class="bcls-figure">
          <img class="bcls-image" src="/assets/images/experiences/portal/GA4/tracking-id.webp" alt="Tracking ID">
        </figure>
      </li>
      <li>Click <strong>Save</strong>.</li>
      <li>Republish the experience.</li>
    </ol>
  
  </section>
  <section class="bcls-section">
    <h3 id="googletag">Integrating with Google Tag Manager</h3>
    <p>Gallery includes the ability to include code from Google Tag Manager. Paste the appropriate code into the <strong>&lt;head&gt;</strong> or <strong>&lt;body&gt;</strong> sections.</p>
    <p>To learn more about Google Tag Manager, visit the <a href="https://support.google.com/tagmanager/answer/6102821">Google</a> website.</p>
  </section>
  <section class="bcls-section">
    <h3 id="eloqua">Integrating with Eloqua</h3>
    <p>Gallery includes Eloqua page tracking scripts to allow you to track visits to your website. If you want to integrate your site with Eloqua, you should enter your Eloqua Site ID.</p>
  </section>
  <section class="bcls-section">
    <h3 id="marketo">Integrating with Marketo</h3>
    <p>Gallery includes Marketo page tracking scripts to allow you to track visits to your video sites. If you want to integrate your site with Marketo, you should enter your Marketo Account ID.</p>
  </section> -->
  </section>
</article>
