---
title: Portal Templates
description: Learn about Portal templates.
parent: Portal Experiences
grandparent: Experiences
layout: index_pages
---
<style>
  a {
    text-decoration: none;
  }
</style>
<h1><i class="fa-regular fa-browser"></i> {{ page.title }}</h1>
<article class="bcls-article">
  <br/>
    <summary>{{ page.description }}</summary>
    <section>
      <h2 id="Topics_in_this_section">Topics</h2>
      <div class="col-12 col-lg-4 py-3">
        <div class="card card-hover shadow-sm">
          <div class="card-body">
            <div class="card-text">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a
                    href="overview-gallery-portal-templates.html">Overview of
                    Portal Templates</a></li>
                <li class="list-group-item"><a
                    href="updating-gallery-templates.html">Updating Gallery
                    Templates</a></li>
                <li class="list-group-item"><a
                    href="customizing-catalogue-template-settings.html">Customizing
                    the Catalogue Template Settings</a></li>
                <li class="list-group-item"><a
                    href="customizing-chronicle-template-settings.html">Customizing
                    the Chronicle Template Settings</a></li>
                <li class="list-group-item"><a
                    href="customizing-marquee-template-settings.html">Customizing
                    the Marquee Template Settings</a></li>
              </ul>
            </div>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>
    </section>
  </article>