---
title: Updating Gallery Templates
parent: Portal
grandparent: Experiences
description: In this topic you will learn how to update a Gallery experience to use a new template version.
---
<article class="bcls-article">
  <h1>Updating Gallery Templates</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <p>All Gallery experiences are based upon a template. When you create a new experience, the first step is to select a template to use. The template controls the overall layout and styling of the experience. Over time, new features and enhancements may be made to templates by Brightcove. Brightcove will not push major template updates out to exiting experiences. Publishers are responsible for upgrading their experiences to use new templates and then for testing before publishing.</p>
    <aside class="bcls-aside bcls-aside--information">Note: This topic applies to Portal, Landing Page and Event experiences only.</aside>
  </section>
  <section class="bcls-section">
    <h2 id="update">Determining when template updates are available</h2>
    <p>If you have any experiences that require template updates, a banner will be displayed at the top of the page when the Gallery module is opened. Click the<strong> </strong>link to display only the experiences that require template updates.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="update required banner" src="/assets/images/experiences/portal/templates/node16636-update-banner.png" /></figure>
    <p>The filter at the top of the page can also be used to display the experiences that require a template update.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="filter template update required" src="/assets/images/experiences/portal/templates/node16636-filter-update.png" /></figure>
    <p>All experiences that require a template update will display a Template Status of <strong>Needs Update</strong>.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="needs update status" src="/assets/images/experiences/portal/templates/node16636-needs-update.png" /></figure>
    <aside class="bcls-aside bcls-aside--information">Note: It is possible to have experiences using different versions of the same template. For example, when an update to the Marquee template is available, the <strong>Needs Update</strong> status will only appear on Marquee sites that require a template update. You may have other Marquee sites that were built using the latest version of the Marquee template that do not require an update.</aside>
    <p>For information on the template update, click the <strong>View Details</strong> link on the right side of the page.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="view details link" src="/assets/images/experiences/portal/templates/node16636-view-details.png" /></figure>
    <p>Clicking the link will display a dialog with the template update details.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="template update info" src="/assets/images/experiences/portal/templates/node16636-template-update-info.png" /></figure>
    <p>Click <span class="button-blue">Start Update</span> to begin the template update.</p>
  </section>
  <section class="bcls-section">
    <h2 id="apply">Applying a template update to an experience</h2>
    <p>To update a template, follow these steps.</p>
    <ol class="bcls-tasklist-restart">
      <li>Click the <strong>View Details</strong> link to review the changes to the template.
        <aside class="bcls-aside bcls-aside--information">Note: You may see a <strong>Template Status</strong> of <strong> Resume Update</strong> if the template update has been applied and the experience hasn't been published.</aside>
      </li>
      <li>Click <span class="button-blue-text">Start Update</span>. The template update will be applied to the experience and the Gallery Site Editor will open.
      </li>
      <li>Review the site to make sure any player customizations, custom CSS/JavaScript, custom header/footer and any other customizations you made are displaying correctly.</li>
      <li><strong>(Optional)</strong> Click the <strong>Discard Update</strong> link to <a href="#discard">discard the template update</a>.</li>
      <li>To publish the site with the updated template, click <span class="button-blue">Publish</span>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="publish site dialog" src="/assets/images/experiences/portal/templates/node16636-publish-site.png" /></figure>
      </li>
    </ol>
    <p>Once the site is published using the updated template, there is no way to access the older template.</p>
  </section>
  <section class="bcls-section">
    <h2 id="discard">Discarding a template update</h2>
    <p>Click the <strong>Discard Update</strong> link to discard the template update and revert the site back to using the older version of the template. Note that Brightcove recommends updating to the latest version of templates. If you discard the update, at some point, older versions or templates will not be supported by Brightcove.</p>
  </section>
</article>
