---
title: 'Working with the Immersion Portal Template'
parent: Portal
grandparent: Experiences
description: 'In this topic you will learn about the features available in the Immersion Portal template.'
---
<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="1757098949806484006">&nbsp;</div>
    <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script>
    <p>Video is  an ideal way to distribute timely messages throughout an organization. The Immersion  Experience,  available as part of Brightcove Gallery, is designed to help  deliver:</p>
    <ul>
      <li>Company updates</li>
      <li>Event briefs</li>
      <li>Executive messages</li>
    </ul>
    <p>The Immersion Experience is  a portal template and provides most of the  design elements and features found in the other Gallery portal templates. This topic will outline some of the features that are available in this template.</p>
    <aside class="bcls-aside bcls-aside--information">Note: For a step-by-step guide to creating a Portal Experience, see <a href="/get-started/step-step-creating-and-publishing-portal-experience.html">Step-by-Step: Creating and Publishing a Portal Experience</a>.</aside>
    <aside class="bcls-aside bcls-aside--information">Note: When creating an Immersion Experience, Brightcove Player v 6.0 or newer is required<a href="/get-started/step-step-creating-and-publishing-portal-experience.html"></a>.</aside>

  </section>
  <section class="bcls-section">
    <h2 id="create_portal">Creating a new experience</h2>
    <p>To create a new Immersion Portal Experience, follow these steps.</p>
    <ol class="bcls-tasklist-restart">
      <li>In the primary navigation, click <strong>Gallery</strong>.</li>
      <li>Click <span class="button-blue">New Experience</span>.</li>
      <li>Click the <strong>Portal</strong> tab at the top of the page. A list of Portal templates will be displayed.
        Locate the <strong>Immersion</strong> template and click <span class="button-blue-text-bordered">Choose</span>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt=""
            src="/assets/images/experiences/portal/templates/int-comm/select-template.png" /></figure>
        <aside class="bcls-aside bcls-aside--information">Note: Once you select a template it can't be changed. For more
          information on Gallery templates, see <a
            href="/experiences/portal/templates/overview-gallery-portal-templates.html">Overview of Gallery Portal Templates</a>.</aside>
      </li>
      <li>Enter an <strong>Experience Title</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt=""
            src="/assets/images/experiences/portal/templates/int-comm/new-experience.png" /></figure>
      </li>
      <li>Click <span class="button-blue">Create Experience</span>.</li>
    </ol>
    <p>The Gallery Site Editor will open. The process to add videos and customize the experience is similar to the other portal templates.</p>
  </section>
  <section class="bcls-section">
    <h2 id="layout">Video collection organization</h2>
    <p>The order of  the video collections controls how they appear on the   homepage.</p>
    <aside class="bcls-aside bcls-aside--information">Note: For information on creating collections and adding  videos to a collection, see <a href="/experiences/portal/videos/adding-videos-portal-experience.html">Adding Videos to a Portal Experience</a>.</aside>
    <p>The Immersion template has two main areas where videos are displayed as designated in the sample site:</p>
    <ol>
      <li><strong>Hero slider</strong> - Typically used to feature important, featured,  live or <a href="/experiences/virtual-event/videos/using-simulated-live-videos.html">simulive content</a>. Video poster images will appear in the  hero slider at the top of the home page. Clicking a poster will open the video detail page where the video can be played.
        <aside class="bcls-aside bcls-aside--information">Note: The hero slider displays only the first 10 videos in the collection.</aside>
      </li>
      <li><strong>Other collections</strong> - Can include anything but is typically used to feature  VOD content.</li>
    </ol>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt=""
 src="/assets/images/experiences/portal/templates/int-comm/site-preview.png" /></figure>
    <p>When ordering collections in Gallery, the collections should be ordered in the following manner:</p>
    <ul>
      <li>Collection 1 - Hero slider</li>
      <li>Collection 2 - x - Other collections</li>
    </ul>
    <p>For the above example, the collections would be created as follows:</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/video-collections.png" /></figure>
  </section>
  <section class="bcls-section">
    <h2 id="logo">Adding a  logo</h2>
    <p>The Immersion template offers the ability to add a  logo to the top and/or bottom of pages. Follow these steps to add a  logo.</p>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Gallery</strong> module.</li>
      <li>Click on an Immersion experience  to edit it.</li>
      <li>Click <span class="button-blue"> <i data-feather="plus-square"></i> Add logo</span> at the top or bottom of the page.</li>
      <li>To upload an image, select the <strong>Image</strong> option and then click the <strong>Image</strong> field and browse and select an image. To use an image URL, select the <strong>Image URL</strong> option and then enter the URL to the image to use.</li>
      <li>Enter the <strong>Image alt-text</strong>.</li>
      <li>(Optional) Enter a <strong>Company Name</strong>. The company name will appear to the right of the logo.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/header-logo.png" /></figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
    To edit or delete the logo, hover over the logo and click on the action menu (...). Click <strong>Edit logo</strong> to edit the logo or <strong>Delete</strong> to delete the logo.</section>
  <section class="bcls-section">
    <h2 id="menu">Adding a  menu</h2>
    <p>The Immersion template offers the ability to add a  menu to the top or bottom of pages. Menu links can be configured to go to specific videos collections or to external links. Follow these steps to add a menu.</p>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Gallery</strong> module.</li>
      <li>Click on an Immersion experience  to edit it.</li>
      <li>Click <strong>Add menu item</strong> at the top or bottom of the page.</li>
    </ol>
    <div class="BCL-subsection" id="menu-collection">
      <h3>Adding a menu item for a collection</h3>
      <p>When a menu link is added for a collection, clicking it will open the page for the collection. Follow these steps to add a menu item to link to a video collection.</p>
      <ol class="bcls-tasklist-restart">
        <li>Click the <strong>Collection</strong> link.</li>
        <li>Enter a <strong>Label</strong>.</li>
        <li>Select the <strong>Collection</strong> that the menu link will go to.</li>
        <li>Select the <strong>Order</strong> for the menu item. The order controls the order in which the menu items are listed.</li>
        <li>Choose to <strong>Open in the same tab</strong> or <strong>Open in a new tab</strong>.
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/menu-collection.png" /></figure>
        </li>
        <li>Click <span class="button-blue">Save</span>. </li>
      </ol>
    </div>
    <div class="BCL-subsection" id="menu-link">
      <h3>Adding a menu item for a custom link</h3>
      <p>Follow these steps to add a menu item to link to a custom link.</p>
      <ol class="bcls-tasklist-restart">
        <li>Click the <strong>Custom link</strong> link.</li>
        <li>Enter a <strong>Label</strong>.</li>
        <li>Enter the <strong>URL</strong> to direct to.</li>
        <li>Select the <strong>Order</strong> for the menu item. The order controls the order in which the menu items are listed.</li>
        <li>Choose to <strong>Open in the same tab</strong> or <strong>Open in a new tab</strong>.
          <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/menu-external.png" /></figure>
        </li>
        <li>Click <span class="button-blue">Save</span>.</li>
      </ol>
    </div>
    <div class="BCL-subsection" id="edit-delete">
      <h3>Editing or deleting a menu item</h3>
      <p>Following these steps to edit or delete an existing menu item.</p>
      <ol class="bcls-tasklist-restart">
        <li>Hover over a menu item and click on the action menu (...).
          <aside class="bcls-aside bcls-aside--information">Note: Depending on the width of your browser page, the menu links may be collapsed into a hamburger menu (<img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/icon-hamburger.png" />). Click the hamburger menu to access the action menu.</aside>
        </li>
        <li>To delete a menu item, click <strong>Delete</strong> and then confirm the deletion.</li>
        <li>To edit a menu item, click <strong>Edit menu link</strong>, make the appropriate changes and then click <span class="button-blue">Save</span>.</li>
      </ol>
    </div>
  </section>
  <section class="bcls-section">
    <h2 id="suggested">Configuring suggested videos</h2>
    <p>The Immersion template offers the ability to a list of suggested videos on video detail pages. The suggested videos will appear on detail pages below the video player.</p>
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/suggested-videos.png" /></figure>
    <p>Follow these steps to configure suggested videos.</p>
    <ol class="bcls-tasklist-restart">
      <li>Open the <strong>Gallery</strong> module.</li>
      <li>Click on an Immersion experience  to edit it.</li>
      <li>In the left navigation, expand the <strong>Pages</strong> section and click <strong>Detail</strong>.</li>
      <li>Click <strong>Add suggested videos</strong>.</li>
      <li>Select where to show videos from.
        <ul>
          <li><strong>Current collection</strong> - Additional videos from the current collection will be displayed</li>
          <li>Parent collection - Additional videos from the parent collection will be displayed</li>
        </ul>
      </li>
      <li>Select a sort order (based upon video created date).
        <ul>
          <li>Newest to oldest</li>
          <li>Oldest to newest</li>
          <li>Oldest in list (collections only)</li>
        </ul>
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/experiences/portal/templates/int-comm/suggested-videos-dialog.png" /></figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
  </section>
  <section class="bcls-section">
    <h2 id="settings">Configuring template settings</h2>
    <p>The Immersion template offers the ability to customize several template settings that control how video thumbnails will appear. For information see <a href="/experiences/portal/templates/customizing-immersion-template-settings.html">Customizing the Immersion Template Settings</a>.</p>
  </section>
  <section class="bcls-section">
    <h2 id="not-supported">Portal settings currently not supported</h2>
    <p>The following settings and options that are normally supported by portal templates are not currently supported in the Immersion template.</p>
    <ul>
      <li>Pre-populate experience</li>
      <li>Site search</li>
      <li>Calls-To-Action</li>
      <li>Multi-lingual audio</li>
      <li>Social sharing</li>
      <li>Video sorting in collection</li>
      <li>Video downloads</li>
      <li>Fonts - The list of available primary and secondary fonts is limited compared to other portal experience types</li>
    </ul>
  </section>
</article>
