---
title: General Information
parent: Home
description: General information about Brightcove Gallery.
---
<article class="bcls-article"> 
  <h1><i class="fa-regular fa-circle-info"></i> {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
    <br/>
  <section class="bcls-section">
      <ul class="bcls-topic-list">
          {% for item in site.data.navigation %}
          {% if item.name == page.title %}
          {% for entry in item.docs %}
          <li><a href="{{ entry.url }}">{{ entry.name }}</a> {% if entry.docs %}
            <ul>
              {% for subentry in entry.docs %}
              <li><a href="{{ subentry.url }}">{{ subentry.name }}</a></li>
              {% endfor %}
            </ul>
            {% endif %} </li>
          {% endfor %}
          {% endif %}
          {% endfor %}
        </ul>
  </section>
</article>
