body {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: 1rem;
}


/**** color classes ********* */

.bcl-white {
    color: #ffffff
}

.bcl-green {
    color: #9eb84e
}

.bcl-green-back {
    background-color: #9eb84e
}

.bcl-teal {
    color: #64aab2
}

.bcl-teal-back {
    background-color: #D0E0E3
}

.bcl-orange {
    color: #f3951d
}

.bcl-orange-back {
    background-color: #f3951d
}

.bcl-red {
    color: #cc0000
}

.bcl-red-back {
    background-color: #F4CCCC
}

.once-blue-gray {
    color: #6194D4
}

.once-blue-gray-back {
    background-color: #CFE2F3
}

.once-maroon {
    color: #923636
}

.once-maroon-back {
    background-color: #923636
}

.once-olive {
    color: #50612B
}

.once-olive-back {
    background-color: #50612B
}

.once-orange {
    color: #d65519
}

.once-orange-back {
    background-color: #FCE5CE
}

.once-blue {
    color: #7DC5F1
}

.once-blue-back {
    background-color: #C9DAF8
}

.once-green {
    color: #23AF54
}

.once-yellow-back {
    background-color: #FFF2CE
}

.once-green-back {
    background-color: #DAEAD4
}

.once-purple {
    color: #6E349E
}

.once-purple-back {
    background-color: #D9D2E9
}

.once-gray {
    color: #316270
}

.once-gray-back {
    background-color: #EFEFEF
}

.once-mauve-back {
    background-color: #EAD1DC
}

.once-tan-back {
    background-color: #F4CCCC
}

.once-teal-back {
    background-color: #A3C4C9
}

.once-green-gray-back {
    background-color: #D0E0E3
}

.once-red {
    color: #BD000F
}

.once-red-back {
    background-color: #F4CCCC
}

.once-light-orange {
    color: #F4954E
}

.once-light-orange-back {
    background-color: #F4954E
}

.bcl-highlight,
.bcls-highlight {
    background-color: #FFFF00;
}

/*hide gist footers*/

.gist-meta {
    visibility: hidden;
    border: none;
}


/*buttons*/

button.bcls-button,
.BCL-btn,
.BCLbutton,
span.bcls-button,
.bcls-button {
    padding: 5px;
    margin: 10px !important;
    border-radius: 5px !important;
    background-color: #333333 !important;
    white-space: nowrap;
    font-size: small;
    font-weight: bold;
    color: #FFFFFF !important;
    cursor: pointer;
}

p span.bcls-button {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    background-color: #333333;
    white-space: nowrap;
    font-size: small;
    color: #FFFFFF;
    cursor: pointer;
}

input.gsc-search-button.gsc-search-button-v2 {
    background-image: url(http://docs.brightcove.com/en/images/search_box_icon.png) !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #666;
}

h2#expanderHead:before {
    content: '+';
    font-size: .6em;
    width: .7em;
    height: .5em;
    padding-bottom: .2em;
    padding-left: .35em;
    padding-right: .35em;
    padding-top: 0;
    margin-left: -1.5em;
    margin-right: .5em;
    color: #FFF;
    background-color: #DD712E;
    border-radius: 50%;
    text-decoration: none;
}

h2#expanderHead.changed:before {
    content: '-';
    font-size: .7em;
    width: .7em;
    height: .4em;
    padding-bottom: .2em;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: 0;
    margin-left: -1.5em;
    margin-right: .5em;
    color: #FFF;
    background-color: #DD712E;
    border-radius: 50%;
    text-decoration: none;
}


/*gist*/

.gist .pl-ii {
    color: inherit;
    background-color: inherit;
}


/*show/hide*/

.bcls-show {
    left: 0
}

.bcls-hide {
    left: -9999px
}

.inline {
    display: inline
}

.display-none {
    display: none;
}

.display-block {
    display: block
}


/**** header and and nav bar ********* */

#navMenuRight,
.search a,
#navMenuRight>li>a {
    z-index: 80;
    max-height: 40px;
    top: 0;
    position: relative;
}

#breadCrumbWrapper {
    z-index: 90
}

.title-area {
    max-height: 40px
}

.title-area .name {
    padding-top: 11px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0;
    max-height: 40px;
}

.title-area .name img {
    margin-top: -10px;
    margin-right: 10px;
}

.title-area .name a {
    position: relative;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #FFFFFF !important;
}

.title-area .name a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.title-area .name a:visited {
    color: #ffffff
}

.top-bar-section {
    position: relative;
    top: 0;
    max-height: 40px;
}

.top-bar-section ul li>a {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    max-height: 40px;
}

#navWrapper,
.top-bar {
    max-height: 40px;
}

.side-nav li>a {
    font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 3px;
    max-width: 150px;
    overflow: hidden;
}

.top-bar-section ul li a {
    font-size: .8rem
}

.top-bar-section ul li a:hover {
    color: #ffd500
}

.breadcrumbs {
    /*margin-left: -1rem;*/
    position: fixed;
    top: 40px;
    height: 26px;
    width: 100%;
    z-index: 6;
}


/*side nav*/

.sidebar {
    display: inline-block
}

#main {
    float: right;
    background-color: #FFFFFF;
}

th.head,
tr.head>th {
    background-color: #666666;
    color: #f5f5f5;
}


/* footer */

.row {
    padding-bottom: 30px
}

.footer, .bcls-footer {
    background-color: #626365;
    height: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: 1.7rem;
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.footer a, .bcls-footer a {
    color: #ffffff;
    font-size: .9rem;
}
img {
    margin-top: 1em;
    margin-bottom: 1rem;
    border: 1px #cccccc solid;
}
.no-border {
    border: none;
}
figcaption {
    font-size: .7em;
}


@media only screen and (min-width: 64.063em) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
    table.profile-data th,
    table.profile-data td {
        font-size: .9em !important;
        text-align: center;
    }
    /************
    search bar
    ************/
    /*
     * landing page layout
     */
    /************
    in page nav
    ************/
    .side-nav {
        padding-top: 40px;
    }
    #sidenav li a {
        font-size: .74rem;
        line-height: .74rem;
        margin: 0;
        padding: .1rem;
    }
    /*fix for fixed-header*/
    h1,
    h2,
    h4,
    h3,
    .resourceHeaderCell,
    .resourceUri,
    .bcl-notes,
    .bcl-notes,
    p.note,
    ul.list-none>li,
    li.bcls-footnote,
    h5 {
        padding-top: 110px;
        margin-top: -85px;
    }
    /*div.section>h2 {
      padding-top: 100px;
      margin-top: -90px;
    }*/
    /* training video player */
    li.vjs-menu-item {
        font-size: 14px;
        -webkit-box-sizing: none;
        box-sizing: none;
        padding: 7px !important;
        height: 40px !important;
    }
    .bcls-training-video-player {
        width: 640px;
        height: 360px;
    }
    .bcls-training-video-player-track {
        background-color: black;
        font-size: medium;
        font-weight: bold;
    }
    /* content styles */
    .notes>p {
        padding-top: 100px;
        margin-top: -90px;
    }
    h1.text-center {
        padding-top: 180px;
        margin-top: -80px;
        font-size: 4rem;
    }
    .section table {
        margin-top: 40px
    }
    .wide-table th,
    .wide-table td {
        font-size: .75rem
    }
    /***** specific to docs home page ******/
    .product-logo {
        padding: 20px
    }
    /**** content wrapper ********* */
    .text-small {
        font-size: .7rem
    }
    .section {
        clear: both
    }
    .subsection {
        margin-left: 30px
    }
    /**
     * specific to apiary API references
     */
    #apiContainer {
        position: relative
    }
    #apiOverview {
        position: absolute;
        top: 0;
    }
    #apiReference {
        position: absolute;
        top: 0;
    }
    /**** show/hide & inline ****/
    .height-zero {
        height: 0;
        max-height: 0;
        margin-left: -9999px;
    }
    .height-auto {
        height: auto;
        max-height: auto;
        margin-left: auto;
    }
    .bcls-show {
        left: 0
    }
    .bcls-hide {
        left: -9999px
    }
    .inline {
        display: inline
    }
    .display-none {
        display: none;
    }
    .display-block {
        display: block
    }
    .display-unset {
        display: auto
    }
    /* for list without bullets */
    .list-none {
        list-style-type: none;
    }
    /**** general element styles and classes *********= */
    img {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1px #cccccc solid;
    }
    .no-border {
        border: none;
    }
    figcaption {
        font-size: .7em;
    }
    video,
    object,
    div.video-js {
        margin-bottom: 1rem
    }
    ol.integer {
        list-style-type: none;
        counter-reset: li;
    }
    ol.integer>li::before {
        content: counter(li);
        counter-increment: li;
        margin-right: .7em;
        font-weight: bold;
    }
    pre,
    code,
    .code-area {
        font-family: Hack, source-code-pro, Menlo, monospace
    }
    pre {
        background-color: #F1EFEE;
        font-size: .8em;
        margin-bottom: 1.3rem;
        padding: .5rem;
        padding-left: 1rem;
        margin-top: 1rem;
        border-left: 5px solid rgb(99, 99, 99);
        -webkit-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
        -moz-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
        box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
    }
    code {
        color: #AF4020;
        background-color: #F1EFEE;
        font-weight: bold;
        border: none;
    }
    pre>code {
        font-weight: normal;
    }
    .BCL-aside code {
        background-color: #DFDFDF
    }
    a code {
        text-decoration: underline;
        font-weight: bold;
    }
    dd {
        margin-left: 2rem
    }
    .code-area {
        /*border: #666666 1px solid;*/
        background-color: #F5F5F5;
        border-radius: 5px;
        font-size: .9rem;
        margin-bottom: 1rem;
        padding: 5px;
        width: 100%;
        min-width: 20rem;
    }
    h1 {
        color: #999;
        font-size: 3rem;
        z-index: 5;
    }
    h2 {
        font-size: 2.5rem
    }
    h2.index-page, h1.vjs-dock-title {
        margin-top: 0;
        padding-top: 1rem;
        font-size: 1.8rem;
    }
    h3 {
        font-size: 2.0rem
    }
    h3.index-page,h2.vjs-dock-description {
        margin-top: 0;
        padding-top: 1rem;
        font-size: 1.4rem;
        font-weight: normal;
    }
    h4 {
        font-size: 1.5rem;
        font-weight: normal;
    }
    h4.index-page, h4.indexHeader {
        margin-top: 0;
        margin-left: 1rem;
        padding-top: 1rem;
        font-size: 1rem;
        font-weight: bold;
    }
    h5 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    h5.index-page {
        margin-top: 0;
        padding-top: 1rem;
        font-size: .9rem;
        font-weight: normal;
    }
    h6 {
        font-size: 1rem;
        font-weight: bold;
    }
    fieldset {
        border-radius: 5px
    }
    select[multiple] {
        min-height: 200px
    }
    table {
        max-width: 90%;
        font-size: .875rem;
    }
    td,
    td ul li,
    td ol li,
    td p {
        font-size: .875rem
    }
    caption {
        font-weight: bold;
        text-align: left;
    }
    th.once-green-back {
        text-align: center
    }
    td.subhead {
        background-color: rgb(230, 235, 235)
    }
    a:hover {
        text-decoration: underline
    }
    /**
     * to hide content that's only for training slides
     */
    .slide-only {
        display: none
    }
    .AnyTime-dom-table {
        max-width: 100% !important
    }
    /* FAQ Styles */
    .bcls-question {
        color: #2346b7;
        cursor: pointer;
        font-size: 1em;
    }
    .bcls-question:hover {
        text-decoration: underline;
    }
    .bcls-answer {
        display: none;
    }
    /**** bcl doc styles **********= */
    .smaller {
        font-size: .7em
    }
    .text-warning,
    .alert-warning,
    .BCL-aside,
    .BCL_aside {
        background-color: #F1EFEE;
        border-radius: .5em;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .text-info {
        padding: 5px;
        border: 1px #3A87AD solid;
        border-radius: 5px;
    }
    .text-error {
        padding: 5px;
        border: 1px #BB4945 solid;
        border-radius: 5px;
    }
    .bcls-float-left {
        float: left;
        clear: left !important;
    }
    .bcls-float-right {
        float: right
    }
    .bcl-left {
        text-align: left
    }
    .bcl-right {
        text-align: right
    }
    .bcl-center {
        text-align: center
    }
    /**
     * iframe for spapi samples
     */
    .bcls-iframe {
        background-color: #F5F5F5;
        width: 100%;
        border: 1px #999 solid;
        border-radius: 10px;
        margin: 0;
        padding: 10px;
    }
    /*for codepens embedded as iframes*/
    #result-iframe {
        border: 1px solid #CCCCCC;
    }

    /**** media api styles ****/
    .articleTable {
        border: 1px solid #87bcc2
    }
    .articleTable tbody tr {
        border-top: 1px solid #87bcc2
    }
    .objectName {
        margin-top: 35px;
        margin-bottom: 15px;
    }
    .objectProperties {
        margin: 10px 0 5px 10px
    }
    .mapi-section {
        clear: both;
        margin-left: 15px;
    }
    .mapi-section h3 {
        margin-bottom: 15px;
        padding-bottom: 5px;
        border-bottom: 3px solid #dddddd;
    }
    .mapi-section h4 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .mapi-section table {
        max-width: 100% !important;
        /**** border: 1px solid #B2B2B2;*/
        border-collapse: collapse;
        table-layout: fixed;
    }
    .mapi-section thead {
        display: none;
        color: #000000;
        font-weight: bold;
    }
    .mapi-section tr {
        padding: 0
    }
    .mapi-section td {
        padding-right: 25px;
        height: 20px;
        vertical-align: top;
    }
    .mapi-section td code {
        white-space: normal
    }
    .mapi-member {
        clear: both;
        margin-bottom: -1px;
        margin-left: 35px;
        padding: 5px;
        min-height: 20px;
        border-top: 1px solid #87bcc2;
    }
    .mapi-member p.mapi-summary {
        float: left;
        margin-top: 0;
        /* width: 50%;*/
    }
    .mapi-member div.mapi-section {
        display: none
    }
    .mapi-memberMaximized {
        clear: both;
        margin-bottom: -1px;
        margin-left: 35px;
        padding: 5px;
        border: 1px solid #87bcc2;
        background-color: #f9f9f9;
    }
    .mapi-memberMaximized div.mapi-section {
        display: block;
        clear: both;
    }
    div.mapi-memberMaximized h4 {
        color: #333333;
        font-weight: bold;
    }
    div.mapi-memberMaximized h5 {
        margin-bottom: 2px;
        padding-bottom: 0;
        color: #919191;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 10px;
    }
    div.mapi-memberMaximized p.source {
        display: inline;
        padding-bottom: 10px;
    }
    div.mapi-memberMaximized p.mapi-summary {
        margin-top: 15px
    }
    div.mapi-member div.displayCtl {
        background-image: url(/en/video-cloud/media/img/plus.gif);
        background-repeat: no-repeat;
        cursor: pointer;
    }
    div.mapi-memberMaximized div.displayCtl {
        background-image: url(/en/video-cloud/media/img/minus.gif);
        background-repeat: no-repeat;
        cursor: pointer;
    }
    div.mapi-memberMaximized div.displayCtl,
    div.mapi-member div.displayCtl {
        position: relative;
        top: 1px;
        left: -30px;
        display: block !important;
        float: left;
        margin-right: -30px;
        width: 20px;
        height: 20px;
    }
    div.mapi-memberMaximized div.tipBox1 {
        overflow: auto;
        background: #ffffff !important;
    }
    #expanderHead {
        text-decoration: underline;
        cursor: pointer;
    }
    #expanderSign {
        color: #333333;
        text-decoration: none;
    }
    .gist .line-data {
        line-height: 1.4
    }
}
