---
title: Gallery Settings
parent: Home
description: Learn how to configure Gallery Settings.
---
<article class="bcls-article"> 
  <h1><i class="fa-regular fa-gear"></i> {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
    <br/>
  <section class="bcls-section">
      <ul>
        {% for item in site.data.navigation %}
        {% if item.name == page.parent %}
        {% for entry in item.docs %}
        {% if entry.name == page.title %}
        {% for doc in entry.docs %}
        <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
        {% endfor %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endfor %}
      </ul>
  </section>
</article>
