<footer class="bcls-footer" role="contentinfo">
  <div class="row">
    <div class="region region-footer-top-center col-md-12">
      <nav role="navigation" aria-labelledby="block-brightcovesupport-menu" id="block-brightcovesupport" class="footer-menu">

        <h2>Brightcove Support</h2>

        <ul class="menu">
          <li>
            <a href="https://status.brightcove.com">System Status</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?language=en_US">Contact Support</a>
          </li>
          <li>
            <a href="https://support.brightcove.com/">Documentation</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-training-menu" id="block-training" class="footer-menu">

        <h2>Training</h2>

        <ul class="menu">
          <li>
            <a href="https://support.brightcove.com/online-training-courses">Online Courses</a>
          </li>
          <li>
            <a href="https://support.brightcove.com/register-training">Register for a course</a>
          </li>
        </ul>

      </nav>
      <nav role="navigation" aria-labelledby="block-brightcove-menu" class="footer-menu">

        <h2>Brightcove</h2>

        <ul class="menu">
          <li>
            <a href="https://www.brightcove.com">Brightcove.com</a>
          </li>
          <li>
            <a href="https://supportportal.brightcove.com/s/login/?language=en_US" data-drupal-link-system-path="node/18330">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="region region-footer-bottom-center col-md-12">
      <div class="bcls-copyright footer-menu">
        <table>
          <tr>
            <td>
              <div id="bc_copyright" class="field field--name-field-copyright-year field--type-string field--label-hidden field--item" style="float: left;"> Brightcove Inc. All rights reserved.</div>
            </td>
            <td><a href="https://www.brightcove.com/en/legal/privacy">Privacy</a> | <a href="https://www.brightcove.com/en/terms-and-conditions">Terms &amp; Conditions</a></td>
            <td>
              <div class="gf-links-cols footer-menu">
                <div class="gf-social"><a href="https://www.linkedin.com/company/16439" title="LinkedIn" newtab="newtab" class="gf-social-linkedin"><i class="fab fa-linkedin-in" style="font-size: 1.5rem;"></i></a><a href="https://twitter.com/brightcove" title="Twitter" newtab="newtab" class="gf-social-twitter"><i class="fab fa-twitter" style="font-size: 1.5rem;"></i></a><a href="https://www.facebook.com/Brightcove" title="Facebook" newtab="newtab" class="gf-social-facebook"><i class="fab fa-facebook-f" style="font-size: 1.5rem;"></i></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>