<div class="container">
  <div class="row">
    <div class="col-sm-2 left-side-bar">
      <nav class="sidenav">
        {% for item in site.data.navigation %}
          {% if item.docs == nil %}
          <h5><a href="{{ item.url: }}">{{ item.section }}</a></h5>
          {% else %}
            <h5 class="submenu-header"><a href="{{ item.url: }}">{{ item.section }} <strong>+</strong></a></h5>            
            <ul class="sidenav-submenu" style="display:none;">
              {% for entry in item.docs %}
                {% if entry.docs == nil %}
                  <li><a href="{{ entry.url: }}">{{ entry.name }}</a></li>
                {% else %}
                  <li class="submenu-header">
                    <a href="{{ entry.url: }}">{{ entry.name }} <strong>+</strong></a>
                  </li>
                    <ul class="sidenav-subsubmenu" style="display:none;">
                      {% for doc in entry.docs %}
                      <li><a href="{{ doc.url: }}">{{ doc.name }}</a></li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
  <div class="col-lg-8" style="background-color: white;color: #333333;margin-top: -1em;margin-bottom: -1em;padding-bottom:1em;">
    <!-- search bar -->
    <div id="search_bar" class="search-bar">
      <!-- TODO - cx value below must be changed for each site and new GCS instance set up-->
      <script async src="https://cse.google.com/cse.js?cx=017969773216783359937:9ybe0wftqs0"></script>
      <div class="gcse-search"></div>
    </div>
<!-- bootstrap layout -->
