<p id="bc_veggie_burger_wrapper" style="display: none;"><img id="bc_veggie_burger" src="/assets/images/feather/menu.svg" alt="Navigation Menu"></p>
<p id="bc_veggie_burger_wrapper" style="display: none;"><img id="bc_veggie_burger" src="/assets/images/feather/menu.svg" alt="Navigation Menu"></p>
<ul id="in_prod_nav" class="pager" style="display: none;">
  <li><a id="back_button" href="#" class="nav-icon"><img src="/assets/images/feather/chevron-left.svg" alt="back"></a></li>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;Beacon Documentation&nbsp;&nbsp;&nbsp;&nbsp;</li>
  <li><a id="forward_button" href="#" class="nav-icon"><img src="/assets/images/feather/chevron-right.svg" alt="forward"></a></li>
  <li><img src="/assets/images/feather/x.svg" alt="Close" class="nav-icon"></li>
</ul>

<!-- search bar -->
<div id="nav-search-box" style="margin-top: 1rem;"></div>
<!-- in-page navigation for narrow screens -->
<details class="centered-inpage-nav" id="centered_inpage_nav">
  <summary><h6 class="toc">Page Contents</h6></summary>
  <nav id="centered_toc"></nav>
  <ul id="centered_in_page_toc" class="list-none"></ul>
</details>
<!-- open in new tab/window -->
<a id="open_new_tab" href="#" target="_blank" style="display: none;"><img src="/assets/images/feather/external-link.svg" alt="open in new tab" style="margin-top:4em;width: 1em;"></a>



  
    

