<!-- search bar -->
<div id="search_bar" class="search-bar">
  <!-- TODO - cx value below must be changed for each site and new GCS instance set up-->
  <!-- <script async src="https://cse.google.com/cse.js?cx=017969773216783359937:6sd3di5mwuw"></script> -->
  <div style="text-align: right;position:relative;font-weight: bold;">
<button style="position: fixed;top:9rem;right:0;padding-right: 1rem;padding-left:1rem;z-index: 9999999;background:{{ site.product_color }};color:Snow;font-weight: bold;" onclick="javascript:displayChat()"><i class="fal fa-search" style="color:Snow;"></i> Search</button>
<p style="position: fixed;right:.1rem;top:11.5rem;z-index: 999999;font-size: small;border: 1px {{ site.product_color }}solid;padding:4px;"><a href="https://support.brightcove.com">Search All Docs</a></p>

</div>

    <div id="talla_chat" style="width: 366px; height: 45%; display: none; position: fixed; bottom: 1rem; right: 3%; z-index: 999999;">
    </div>
</div>
