<!-- complete bootstrap layout -->
    </div>
    <div class="col-sm-2 right-side-bar">
      {% if page.name != 'index.html' %}
      <nav class="right-side-nav">
        <h6 class="toc">Page Contents</h6>
        <ul id="in_page_nav" class="list-none"></ul>
      </nav>
      {% endif %}
    </div>
  </div>
</div>

<hr>
<div class="last-updated" id="talla_wrapper">
  Page last updated on {{ page.last_modified_at | date_to_string }}
</div>
<p style="text-align: right;position: relative;"><button style="background:{{ site.product_color }};color:Snow;padding:.3rem;position:fixed;right:0;bottom:1em;z-index:9999999" onclick="javascript:displayChat()">Have a question? </button> </p>
    
<div id="talla_chat">
</div>

