---
title: In-Page Templates
description: Learn about In-Page templates.
parent: In-Page Experiences
grandparent: Experiences
layout: index_pages
---
<style>
  a {
    text-decoration: none;
  }
</style>
<h1><i class="fa-solid fa-sidebar-flip"></i> {{ page.title }}</h1>
<article class="bcls-article">
  <br/>
    <summary>{{ page.description }}</summary>
    <section>
      <h2 id="Topics_in_this_section">Topics</h2>
      <div class="col-12 col-lg-4 py-3">
        <div class="card card-hover shadow-sm">
          <div class="card-body">
            <div class="card-text">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a
                    href="overview-gallery-page-experience-templates.html">Overview
                    of Gallery In-Page Experience Templates</a></li>
                <li class="list-group-item"><a
                    href="/experiences/portal/templates/updating-gallery-templates.html">Updating
                    Gallery Templates</a></li>
              </ul>
            </div>
          </div>
          <!--//card-body-->
        </div>
        <!--//card-->
      </div>
    </section>
  </article>