---
title: Portal Experiences
parent: Portal
grandparent: Experiences
description: Learn how to create, edit and publish Portal Experiences.
---
<article class="bcls-article">
  <h1><i class="fa-regular fa-browsers"></i> {{ page.title }}</h1>
    <summary>{{ page.description }}</summary>
  <!-- Template for sub-section that has just pages -->
{% for item in site.data.navigation %}
  {% if item.name == page.parent %}
    {% for section in item.docs %}
      {% if section.name == page.title %}
      <h1><i class="{{ item.icon }}"></i> {{ page.title }}</h1>
        <div class="col-12 col-lg-4 py-3">
          <div class="card shadow-sm" style="background: white" onclick="window.location.href = '{{ item.url }}'">
            <div class="card-body">
              <section class="flex-container">
                <div>
                  <ul class="list-group list-group-flush">
                    {% for entry in section.docs %}
                    <li class="list-group-item"><a href="{{ entry.url }}" style="text-decoration: none;">{{ entry.name }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </section>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}
</article>
